.grid {
  width: 750px;
  height: 750px;
  display: flex;
  flex-wrap: wrap;
  border: solid rgb(0, 255, 128);
  border-radius: 8px;
  margin-left: 30%;
  margin-top: 2%;
}

.grid div {
    width: 30px;
    height: 30px;
}
body {
  background-image: url(bkg.webp);
}

.start {
  color: white;
  background-color: rgb(0, 128, 122);
  font-family: cursive;
  font-size: 40px;
  width: 300px;
  height: 80px;
  border-radius: 20px;
  border: white;

}

.score {
  color: white;
  font-family: fantasy;
  font-size: 40px;
  margin-right: 2%;
}

.red{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.snake{
    background-color: rgb(255, 197, 7);
    border-radius: 20px;
}

.apple{
    background-color: red;
    border-radius: 20px;
}
