.grid{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    margin-left: 700px;
    margin-top: 11%;
}
body{
    background-color: black;
    border: cornflowerblue;
}

h3{
    color: white;
    margin-left: 4%;
    font-size: 40px;
}